.header {
    text-align: center;
    color:white;
    font-size:100px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

h1 {
    text-align: center;
    color: blue;
    size: 100px;
}

body {
    background-color: black;
}